@page
@model ContosoUniversity.Pages.AboutModel
@{
    ViewData["Title"] = "Student Statistics";
}

<h1>Student Statistics</h1>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model.Student)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>